[run]
branch = True
source =
    moons

omit =
    */moons/migrations/*
    */moons/tasks.py
    */moons/admin.py
    */moons/templatetags/*
    */tests/*
    */.tox/*
    */bin/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
    raise AssertionError

ignore_errors = True
