.ore1884 {
  background-color: #0D98BA !important
}

.ore1921 {
  background-color: #e6a823 !important
}

.ore1920 {
  background-color: #4B8B3B !important
}

.ore1922 {
  background-color: #a0154a !important
}

.ore1923 {
  background-color: #c412ca !important
}
