.ore1884 {
  background-color: #0d98ba !important;
}

.ore1921 {
  background-color: #e6a823 !important;
}

.ore1920 {
  background-color: #4b8b3b !important;
}

.ore1922 {
  background-color: #a0154a !important;
}

.ore1923 {
  background-color: #c412ca !important;
}
